# Load Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset
### link: https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data

In [31]:
df_train = pd.read_csv('Dataset/HousePriceDataset/train.csv')
df_test = pd.read_csv('Dataset/HousePriceDataset/test.csv')

In [33]:
df_train.shape,  df_test.shape

((1460, 81), (1460, 81))

In [35]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [37]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# Know your Data

## use this features while converting into numerical format /  encoding
Neighborhood
HouseStyle
OverallQual
OverallCond
YearBuilt
Foundation
Electrical
KitchenQual
GarageType
GarageFinish
Fence

# Data Integration

In [50]:
df = pd.concat([df_train, df_test])
df.shape

(2920, 81)

# Get the brief information of dataset

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2920 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2920 non-null   int64
 1   MSSubClass     2920 non-null   int64
 2   MSZoning       2920 non-null   object
 3   LotFrontage    2402 non-null   float64
 4   LotArea        2920 non-null   int64
 5   Street         2920 non-null   object
 6   Alley          182 non-null    object
 7   LotShape       2920 non-null   object
 8   LandContour    2920 non-null   object
 9   Utilities      2920 non-null   object
 10  LotConfig      2920 non-null   object
 11  LandSlope      2920 non-null   object
 12  Neighborhood   2920 non-null   object
 13  Condition1     2920 non-null   object
 14  Condition2     2920 non-null   object
 15  BldgType       2920 non-null   object
 16  HouseStyle     2920 non-null   object
 17  OverallQual    2920 non-null   int64
 18  OverallCond    2920 non-null   int64
 19  YearBuilt      2920 non-null   int64
 20  YearRemodAdd   2920 non-null   int64
 21  RoofStyle      2920 non-null   object
 22  RoofMatl       2920 non-null   object
 23  Exterior1st    2920 non-null   object
 24  Exterior2nd    2920 non-null   object
 25  MasVnrType     1176 non-null   object
 26  MasVnrArea     2904 non-null   float64
 27  ExterQual      2920 non-null   object
 28  ExterCond      2920 non-null   object
 29  Foundation     2920 non-null   object
 30  BsmtQual       2846 non-null   object
 31  BsmtCond       2846 non-null   object
 32  BsmtExposure   2844 non-null   object
 33  BsmtFinType1   2846 non-null   object
 34  BsmtFinSF1     2920 non-null   int64
 35  BsmtFinType2   2844 non-null   object
 36  BsmtFinSF2     2920 non-null   int64
 37  BsmtUnfSF      2920 non-null   int64
 38  TotalBsmtSF    2920 non-null   int64
 39  Heating        2920 non-null   object
 40  HeatingQC      2920 non-null   object
 41  CentralAir     2920 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2920 non-null   int64
 44  2ndFlrSF       2920 non-null   int64
 45  LowQualFinSF   2920 non-null   int64
 46  GrLivArea      2920 non-null   int64
 47  BsmtFullBath   2920 non-null   int64
 48  BsmtHalfBath   2920 non-null   int64
 49  FullBath       2920 non-null   int64
 50  HalfBath       2920 non-null   int64
 51  BedroomAbvGr   2920 non-null   int64
 52  KitchenAbvGr   2920 non-null   int64
 53  KitchenQual    2920 non-null   object
 54  TotRmsAbvGrd   2920 non-null   int64
 55  Functional     2920 non-null   object
 56  Fireplaces     2920 non-null   int64
 57  FireplaceQu    1540 non-null   object
 58  GarageType     2758 non-null   object
 59  GarageYrBlt    2758 non-null   float64
 60  GarageFinish   2758 non-null   object
 61  GarageCars     2920 non-null   int64
 62  GarageArea     2920 non-null   int64
 63  GarageQual     2758 non-null   object
 64  GarageCond     2758 non-null   object
 65  PavedDrive     2920 non-null   object
 66  WoodDeckSF     2920 non-null   int64
 67  OpenPorchSF    2920 non-null   int64
 68  EnclosedPorch  2920 non-null   int64
 69  3SsnPorch      2920 non-null   int64
 70  ScreenPorch    2920 non-null   int64
 71  PoolArea       2920 non-null   int64
 72  PoolQC         14 non-null     object
 73  Fence          562 non-null    object
 74  MiscFeature    108 non-null    object
 75  MiscVal        2920 non-null   int64
 76  MoSold         2920 non-null   int64
 77  YrSold         2920 non-null   int64
 78  SaleType       2920 non-null   object
 79  SaleCondition  2920 non-null   object
 80  SalePrice      2920 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 1.8+ MB

# Having most NaN values:
cols = ['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature']

In [57]:
# getting all the integer columns
int_features = df.select_dtypes(include=["int64"]).columns
int_features

Index(['Id', 'MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr',
       'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageCars',
       'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [59]:
# getting all the floating columns
float_features = df.select_dtypes(include=["float64"]).columns
float_features

Index(['LotFrontage', 'MasVnrArea', 'GarageYrBlt'], dtype='object')

In [61]:
# getting all categorical (sting/object) columns
cate_features = df.select_dtypes(include=["object"]).columns
cate_features

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')